@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@theme{
    --font-poppins:'Poppins', 'sans-serif'
}



@import "tailwindcss";

@plugin "daisyui";